#canvas_unique {
    border: 1px dashed #333; 
    display: block; 
    margin: 15px auto; 
}

#nextFigureBtn {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    border: none;
    background-color: #333; 
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

#nextFigureBtn:hover {
    background-color: #555;
}

#exo1_canvas_container {
    border: 2px dashed #3498db; 
    padding: 15px; 
    margin: 20px auto; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

#exo2_animation_container {
    border: 2px dashed #3498db; 
    padding: 15px; 
    margin: 20px auto; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}

body {
    margin: 0;
    padding: 0;
}