.render-box-content.exo-border-container {
    border: 3px dashed #3498db; 
    padding: 20px;
    margin-top: 15px; 
    margin-bottom: 20px; 
    background-color: #333; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    position: relative; 
}

#flex-recap-table-container header {
    display: flex;
    z-index: 0;
    background-color: #CC0033; 
    color: white;
    position: static !important;
}

#flex-recap-table-container .gauche {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flex-recap-table-container .droite {
    width: 60%;
}

#flex-recap-table-container h1 {
    text-align: center;
    margin: 0;
}

#flex-recap-table-container h2 {
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
}

#flex-recap-table-container .droite div {
    border: dashed 1px white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#flex-recap-table-container #deux {
    display: inline-flex;
}

#flex-recap-table-container table {
    border-collapse: collapse;
    width: calc(100% - 20px);
    margin: 10px;
}

#flex-recap-table-container td {
    border: solid 1px black;
    text-align: center;
    background-color: rgb(207, 204, 204);
    color: rgb(10, 128, 108); 
    padding: 5px;
}

#flex-recap-table-container th {
    border: solid 1px black;
    background-color: #CC0033;
    color: white;
    position: static; 
}

#flex-recap-table-container span {
    color: #CC0033; 
}

#flex-recap-table-container #couleur {
    background-color: salmon;
    color: white;
}

#flex-recap-table-container article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CC0033;
    color: white;
    padding: 10px;
    margin-top: 20px; 
}

#flex-recap-table-container .droite2 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: dashed 1px white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#flex-recap-table-container .item {
    background-color: white;
    color: #CC0033;
    border: 1px solid #CC0033;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#flex-recap-table-container .item span {
    display: inline;
}

#flex-recap-table-container .table-flex-items {
    padding-bottom: 1px;
}

#flex-recap-table-container .table-flex-items table {
    border-collapse: collapse;
    width: calc(100% - 20px);
    margin: 10px;
}

#flex-recap-table-container .table-flex-items th {
    background-color: #CC0033;
    color: white;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle; 
}

#flex-recap-table-container .table-flex-items td {
    border: 1px solid black;
    background-color: rgb(207, 204, 204);
    color: #CC0033;
    padding: 5px 10px;
    text-align: start;
    vertical-align: middle; 
}

#flex-recap-table-container #span2 {
    color: rgb(10, 128, 108);
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}

#flex-recap-table-container {
    background-color: white;
}