#bloc {
    position: relative;
    background-color: rgb(131, 18, 18);
    width: 300px;
    height: 200px;
    margin: auto;
    transition: background-color 0.3s ease;
}


@media (max-width: 960px) {
    #bloc {
        background-color: #3ca3e7; 
    }
}


@media (max-width: 500px) {
    #bloc {
        background-color: #2ecc71;
    }
}

.exo-render.exo-border-container {
    border: 3px dashed #3498db; 
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    position: relative; 
    overflow: hidden; 
}

.consigne-exo1 {
    text-align: center; 
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 10px 20px; 
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}

.exo-render .container-grid-demo {
    width: 100%;
}

.exo-render .container-grid-demo header {
    background-color: #FFFF00; 
    z-index: 0;
    color: #000;
    border-radius: 10px;
    border: solid 1px #CCCCCC;
    padding: 20px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold;
}

.exo-render .container-grid-demo main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px;
    margin: 5px 0;
}

.exo-render .container-grid-demo article {
    background-color: #00FFFF; 
    border-radius: 10px;
    border: solid 1px #CCCCCC;
    padding: 15px;
    color: #000;
}

.exo-render .container-grid-demo footer {
    background-color: #FFA500; 
    border-radius: 10px;
    border: solid 1px #CCCCCC;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    gap: 10px; 
    box-sizing: border-box;
}

.exo-render .container-grid-demo footer div {
    background-color: #FF00FF; 
    color: white;
    border-radius: 10px;
    border: solid 1px #CCCCCC;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.exo-render .container-grid-demo footer .pied-droite {
    display : none; 
}

@media screen and (min-width: 650px) {

    .exo-render .container-grid-demo main {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .exo-render .container-grid-demo footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .exo-render .container-grid-demo footer .pied-droite {
        display : block;
    }
}

@media screen and (min-width: 960px) {

    .exo-render .container-grid-demo main {
        grid-template-columns: repeat(3, 1fr);
    }

    .exo-render .container-grid-demo footer {
        flex-direction: row; 
        justify-content: space-around; 
        align-items: stretch;
        gap: 10px; 
    }

    .exo-render .container-grid-demo footer div {
        flex-basis: auto; 
        width: auto;
    }

    .exo-render .container-grid-demo footer .pied-gauche {
        flex-grow: 2; 
    }

    .exo-render .container-grid-demo footer .pied-droite {
        flex-grow: 1; 
    }
}