h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #aaa;
    padding-bottom: 10px;
}

#exo1_container {
    border: 2px dashed #3498db; 
    padding: 20px;
    margin-top: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
    max-width: 900px;
    min-height: 550px;
}

#exo2_container {
    border: 2px solid #ccc; 
    padding: 20px;
    margin-top: 20px;
    background-color: #3d3d3d; 
    color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#exo2_container h1, #exo2_container h2 {
    color: white;
    border-bottom-color: #ccc;
}

#exo1_container ul {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#exo1_container > div[id^="paragraphe"] {
    width: 600px;
    margin-left: 250px;
}

li:nth-child(1) a[href="#paragraphe1"] { color: green; }
#paragraphe1 h2 { color: green; }
#paragraphe1 p { border-color: green; }

li:nth-child(2) a[href="#paragraphe2"] { color: blue; }
#paragraphe2 h2 { color: blue; }
#paragraphe2 p { border-color: blue; }

li:nth-child(3) a[href="#paragraphe3"] { color: red; }
#paragraphe3 h2 { color: red; }
#paragraphe3 p { border-color: red; }

#exo1_container > div[id^="paragraphe"] { display: none; }
#exo1_container > div[id^="paragraphe"]:target { display: block; }


#telechargement {
    list-style: none; padding-left: 0; font-family: Arial, sans-serif;
    max-width: 600px; margin: 20px auto;
}

#telechargement li {
    border-bottom: 1px solid #777; 
    padding: 5px 0; 
    display: flex; align-items: center;
}

#telechargement a {
    text-decoration: none; color: #ccc; flex-grow: 1; 
    display: flex; align-items: center;
}

#telechargement li::before {
    content: "";
    display: block; width: 24px; height: 24px;
    background-size: contain; background-repeat: no-repeat;
    margin-right: 10px; 
}

li:has(a[href$=".pdf"])::before { background-image: url('../images/pdf.png'); }
li:has(a[href$=".doc"])::before { background-image: url('../images/doc.png'); }
li:has(a[href$=".xls"])::before { background-image: url('../images/xls.png'); }
li:has(a[href$=".ppt"])::before { background-image: url('../images/ppt.png'); }
li:has(a[href$=".png"])::before { background-image: url('../images/png.png'); }
li:has(a[href$=".svg"])::before { background-image: url('../images/svg.png'); }
li:has(a[href$=".zip"])::before { background-image: url('../images/zip.png'); }
li:has(a[href$=".rtf"])::before { background-image: url('../images/rtf.png'); }
li:has(a[href$=".ods"])::before { background-image: url('../images/ods.png'); }


#telechargement a::before {
    content: attr(href) " ("; 
    font-weight: normal;
    color: #ccc;
    margin-right: 0;
}

#telechargement a::after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

a[hreflang="fr"]::after {
    content: " )"; 
    background-image: url('../images/fr.jpg'); 
    background-size: 20px 15px; 
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 25px; 
    display: inline-block;
    vertical-align: middle;
    width: auto; 
    height: 15px;
    margin-left: 5px; 
}

a[hreflang="en"]::after {
    content: " )"; 
    background-image: url('../images/en.jpg'); 
    background-size: 20px 15px; 
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 25px; 
    display: inline-block;
    vertical-align: middle;
    width: auto; 
    height: 15px;
    margin-left: 5px; 
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}