.render-box-content{
    border: 3px dashed #3498db;
    padding: 15px;
    margin-top: 15px; 
    margin-bottom: 20px; 
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
    overflow: hidden; 
}

.exo-step.theme-light {
    background-color: transparent; 
    color: #333;
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}

#exo2_scrollable_content {
    height: 350px; 
    overflow-y: scroll;
    
    padding: 15px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.parallaxe-section {
    margin: 40px 0; 
    padding: 100px 20px; 
    min-height: 60vh; 
    text-align: center;
    color: white; 
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.parallaxe-img-1 {
    background-image: url('../images/imagetp4.png'); 
}

.parallaxe-img-2 {
    background-image: url('../images/imagetp5.jpg'); 
}

.parallaxe-title {
    font-size: 2.5em;
    text-shadow: 3px 3px 6px black; 
}

#exo6_parallaxe_container {
    background-color: #333; 
}