.curtain-container {
    position: relative;
    width: 400px; 
    height: 250px;
    margin: 20px auto;
    overflow: hidden; 
}

.curtain-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.curtain-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: red; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    transform-origin: left; 
    transition-property: transform; 
    transition-duration: 2s; 
    transition-timing-function: ease-in-out; 
    
    transform: scaleX(1); 
}

.curtain-container:hover .curtain-overlay {
    transform: scaleX(0); 
}

.exo-analysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exo-analysis h4 {
    margin-top: auto;
    margin-bottom: 5px;
}

.render-box-content {
    border: 3px dashed #3498db; 
    
    padding: 15px;
    margin-top: 15px; 
    margin-bottom: 20px; 
    
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
    overflow: hidden; 
}

.web-banner {
    justify-content: space-between;
    width: 728px; 
    height: 90px; 
    background-image: url('../images/coca-cola.png');
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; 
    margin: 0 auto;
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.banner-text {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    position: relative; 
    left: -100px; 
}

.banner-logo {
    width: 70px;
    height: 70px; 
    
    margin-left: 150px;
}

@keyframes slideInText {
    0% {
        left: -400px; 
    }
    50% {
        left: 0; 
    }
    100% {
        left: -400px; 
    }
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1); 
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.banner-text {
    animation: slideInText 4s ease-in-out infinite alternate;
}

.banner-logo {
    animation: rotateAndScale 3s linear infinite;
}

.pulse-group {
    display: flex;
    gap: 10px; 
    margin: 0 20px; 
}

.pulse-dot {
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.dot-1 { background-color: #2e9228; } 
.dot-2 { background-color: #f1c40f; } 
.dot-3 { background-color: #3498db; } 

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5); 
        opacity: 0.8; 
    }
}